{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Your Memo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}" id="style">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'myScript.js' %}"></script>
    </head>

    <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h1>Fadhil Ilham Rahmadi</h1>
          </div>
          <br>
          <br>
          <div class="col-sm-12 col-md-12">
            <img id="foto" src="{% static 'foto.jpg' %}">
          </div>
        </div>
      </div>
      <br>
      <br>
      <div id="accordion">
        <h2 class="panel"><b>Aktivitas</b></h2>
        <div>
          <p>
            <ul class="list-group">
                <li>Belajar</li>
                <br>
                <li>Bermain</li>
                <br>
                <li>Tidur</li>
                <br>
            </ul>
          </p>
        </div>
        <h2><b>Pengalaman</b></h2>
        <div>
          <p>
            <ul class="list-group">
                <li>Pengurus OSIS SMAN 8 Jakarta</li>
                <br>
                <li>Staff Direct Marketing Compfest</li>
                <br>
                <li>Mentor PMB 2019</li>
                <br>
            </ul>
          </p>
        </div>
        <h2><b>Prestasi</b></h2>
        <div>
          <p>
            <ul class="list-group">
                <li>Top 10 finalist of Diponegoro Business Case Competition 2019</li>
                <br>
                <li>Top 15 finalis of IDEAS Bussiness Plan COmpetition</li>
                <br>
                <li>Lulusan Terbaik SD Islam Darussalam</li>
                <br>
            </ul>
          </p>
        </div>

      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <button class="btn btn-dark"type="button" id="bt" onClick="change()">dark it!</button>
          </div>
          <div class="col-md-6 col-sm-12">
            <button class="btn btn-dark"type="button" id="bt2" onClick="back()">light it!</button>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container" id="input_status">
          <div class="row">
              <div class="col-md-12 col-sm-12" id="kepala">
                  <h1>Tuliskan!</h1>
              </div>
              <br>
              <br>
              <br>
              <div class="col-md-12 col-sm-12" id="pesan">
                  <p><b>Apa yang ingin kamu sampaikan?</b></p>
              </div>
              <br>
              <div class="col-md-12 col-sm-12 d-flex justify-content-center">
                  <form class="form-group" method="POST" id="input_area">
                      <div class="form-row">
                          {% csrf_token %}    
                          {{ EntryForm.input_status }}
                          <input type="submit" class="btn btn-light" value="Submit" id="inputbt"/>
                      </div>
                </form>
              </div>
              <br>
          </div>
          <br>
      </div>
      <br>
      <br>

      <div id="accordion">
        <h1>feedback</h1>
        <div>
          <p>
              {% for j in Status %}
              <div class="container">
                <div class="row">
                    <div id="tabel" class="col-md-12 col-sm-12">
                        <h3>{{ j.input_status }}</h3>
                        <h5>{{ j.waktu}}</h5>     
                    </div>
                </div>
              </div>  
            {% endfor %}
          </p>
        </div>
      </div>
    </body>
</html>
        