* {
    margin: 0;
    padding: 0;
    width: 1460;
    height: 5000;
    scroll-behavior: smooth;
    /* background-color:white; */

}
:root {
    --primary-color: white;
    --secondary-color: black;
}

#text {
    margin: 20px 0;
}
#slider {
    width:300px;
}

body{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 4vh;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


#input_status{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
#foto{
    height: 20vh;
}
#inputbt{

}

#kepala{

}

#pesan{

}

#judul{

}

#tabel{

}